rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.role == 'owner' ||
        request.auth.token.role == 'support' ||
        request.auth.token.email == 'subhojit2001mondal@gmail.com'
      );
    }
  }
}
